/* General Stylings */

*,
*:before,
*:after {
    box-sizing: border-box
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}



body {
    background-color: #eee;
  }
  /*--------------------------*/
  img {
    border-radius: 50%;
}
header {
    background-color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 3px;
    padding-left: 15px;
  }
section {
    display: grid;
    _grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}

.picture {
   border-radius: 50%;
}

.div-css {
    border: solid 1px black;
    border-radius: 7px;
    padding: 20px;
    
}

.btn-connect {
    border: solid 1px blue;
    color: blue;
    border-radius: 15px;
    padding: 7px;
    background-color: white;
}
main {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    position: sticky;
    top: 0;
    border: 1px solid #ccc;
    border-radius: 1rem;
  }

article {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2rem;
  }

